**1. Print Statement (Excecuted line by line of the code)**

In [ ]:
print("Hello World")
print ('o---o')
print('  I  ')
print('*'*5)

Hello World
o---o
  I
*****

**2. Variables**

In [ ]:
name= "John Smith"
age= 20
is_newpatient= True
type(name)
type(age)
type(is_newpatient)

bool

**3. Getting Inputs**

In [ ]:
name= input('What is your name? ')
color= input('What is your favourite color? ')
print(name+' likes '+color+' color'+'.')

What is your name? Ryan
What is your favourite color? Black
Ryan likes Black color.

**4. Type Conversion- Calculate the age**

In [ ]:
birth_year= input('Enter your birth year: ')
print(type(birth_year))
birth_year= int(birth_year)
print(type(birth_year))
age= 2022-birth_year
print(age)

Enter your birth year: 2000
<class 'str'>
<class 'int'>
22

**5. Pounds to Kilogram Converter**

In [ ]:
pounds= input('Enter pounds: ')
kilograms=int(pounds)*0.45359237
print('Kilograms: '+str(kilograms))

Enter pounds: 100
Kilograms: 45.359237

**6. Strings output**

In [ ]:
print("Python's Course for Beginners")
print('Python Course for "Beginners"')

#Multi lined String
print('''
Hi Diana
Here is our first email to you.

Thank you,
The Support Team
''')

Python's Course for Beginners
Python Course for "Beginners"

Hi Diana
Here is our first email to you.

Thank you,
The Support Team

**7. Print characters using references**

In [ ]:
course= 'Python for Beginners'
print(course[0])

#negative numbers- count from back to front
print(course[-1])

#print a range of indexes
print(course[0:3])
#only 0,1,2 are printed 

print(course[1:])
print(course[:5])

P
s
Pyt
ython for Beginners
Pytho

*`Exercise`*

In [ ]:
name= 'Jennifer'
print(name[1:-1])

ennife

**8. String concatination**

In [ ]:
first= 'Emma'
last= 'Watson'
message= first+ ' '+ last+ ' is an actress'
print(message) 

#f is used as a prefix to define the msg; { } is a place holder
msg= f'{first} {last} is an actress'
print(msg)

Emma Watson is an actress
Emma Watson is an actress

**9. String Methods**

In [ ]:
#Calculate the number of characters in a text
fact= 'Diana is the princess of Whales'
print(len(fact))

#convert to uppercase
print(fact.upper())

#convert to lowercase
print(fact.lower())

#find a character and output the position
print(fact.find('a'))
#case sensitive
print(fact.find('e'))
print(fact.find('L'))
#find a series of characters
print(fact.find('princess'))

#replace 'is' with 'was'
print(fact.replace('is', 'was'))

#check whether a character is available in the set
'Diana' in fact

31
DIANA IS THE PRINCESS OF WHALES
diana is the princess of whales
2
11
-1
13
Diana was the princess of Whales

True

**10. Arithmetic Operations**

In [ ]:
print(20/3)

#flow division- Whole number part if the answer is a decimal value
print(10//3)

#modulus- Whole number remainder when a value is divided by another
print(10%3)

#exponent
print(10**3)

6.666666666666667
3
1
1000

**11. Operator Precedence**

In [ ]:
# ()
# **
# *, /, //, %
# +, -

print ((10+3)*2**2)

52

**12. Math Functions**

In [ ]:
x= 5.355

#roundoff
print(round(x))

#absolute- return the positive value
print(abs(-4.63))

5
4.63

*`Task 01:Distance between 2 points in 2D plane`*

In [ ]:
print("Distance between 2 points in 2D plane")
x1= int(input("Enter x1 value: "))
y1= int(input("Enter y1 value: "))
x2= int(input("Enter x2 value: "))
y2= int(input("Enter y2 value: "))

# √(x2–x1)^2 + (y2–y1)^2 = ((x2–x1)^2 + (y2–y1)^2)^1/2

d= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)
print("Distance between 2 points in 2D plane: ")
print(d)

Distance between 2 points in 2D plane
Enter x1 value: 4
Enter y1 value: 3
Enter x2 value: 5
Enter y2 value: 2
Distance between 2 points in 2D plane:
1.4142135623730951

*`Task 02: Distance between 2 points in 3D plane`*

In [ ]:
print("Distance between 2 points in 3D plane")
x1= int(input("Enter x1 value: "))
y1= int(input("Enter y1 value: "))
z1= int(input("Enter z1 value: "))
x2= int(input("Enter x2 value: "))
y2= int(input("Enter y2 value: "))
z2= int(input("Enter z2 value: "))

# √(x2–x1)^2 + (y2–y1)^2 + (z2–z1)^2= ((x2–x1)^2 + (y2–y1)^2 + (z2–z1)^2)^1/2

d= ((((x2 - x1 )**2) + ((y2-y1)**2) + ((z2-z1)**2))**0.5)
print("Distance between 2 points in 3D plane: ")
print(d)

*`Task 03: Distance between 2 points in 4D plane`*

In [ ]:
print("Distance between 2 points in 4D plane")
w1= int(input("Enter w1 value: "))
x1= int(input("Enter x1 value: "))
y1= int(input("Enter y1 value: "))
z1= int(input("Enter z1 value: "))
w2= int(input("Enter w2 value: "))
x2= int(input("Enter x2 value: "))
y2= int(input("Enter y2 value: "))
z2= int(input("Enter z2 value: "))

# √(w2–w1)^2 + (x2–x1)^2 + (y2–y1)^2 + (z2–z1)^2= ((w2–w1)^2 + (x2–x1)^2 + (y2–y1)^2 + (z2–z1)^2)^1/2

d= ((((w2 - w1 )**2) + ((x2 - x1 )**2) + ((y2 - y1)**2) + ((z2 - z1)**2))**0.5)
print("Distance between 2 points in 4D plane: ")
print(d)

**13. Math module (https://docs.python.org/3/library/math.html)**

In [ ]:
import math

#round of to the nearest higher whole number
print(math.ceil(2.25))

#round of to the nearest lower whole number
print(math.floor(5.93))

3
5

*`Ex: Finding the circumference and area of a circle`*

In [ ]:
import math

radius= int(input('Enter the radius of circle: '))

circumference= 2*math.pi*radius
area= math.pi*radius**2

print(f'Circumference of the circle: {circumference}')
print(f'Area of the circle: {area}')

Enter the radius of circle: 7
Circumference of the circle: 43.982297150257104
Area of the circle: 153.93804002589985

**14. If Statements**

In [ ]:
# If it's hot
#   It's a hot day
#   Drink plenty of water
# Otherwise if it's cold
#   It's a cold day
#   Wear warm clothes
# Otherwise
#   It's a lovely day

is_hot= False
is_cold= True

#indentation is important ('Enjoy your day' is the final message due to indentation)
if is_hot:
  print("It's a hot day")
  print("Drink plenty of water")

elif is_cold:
  print("It's a cold day")
  print('Wear warm clothes')

else:
  print("It's a lovely day")

print("Enjoy your day")

It's a cold day
Wear warm clothes
Enjoy your day

*`Example`*

In [ ]:
# Price of a house is $1M.
# If buyer has a good credit,
#   they need to put down payment of 10%
# Otherwise 
#   they need to put down payment of 20%
# Print the down payment

has_good_credit= True
price= 1000000

if has_good_credit:
  down_payment= price*0.1

else:
  down_payment= price*0.2

print(f'Down Payment: ${down_payment}')

Down Payment: $100000.0

**15. Logical Operators- Used when having multiple conditions (AND, OR, NOT)**

In [ ]:
# If applicant has high income AND good credit
# Eligible for the loan

has_high_income= True
has_good_credit= True

if has_high_income and has_good_credit:
  print('Eligible')

else:
  print('Not Eligible')

Eligible

*`Example continued...`*

In [ ]:
# If applicant has high income AND doesn't have a criminal record
# Eligible for the loan

has_high_income= True
has_criminal_record= True

if has_high_income and not has_criminal_record:
  print('Eligible')

else:
  print('Not Eligible')

Not Eligible

**16. Comparison Operators**

In [ ]:
# If temperature is greater than 30
#   it's a hot day
# otherwise if it's less than 10
#   it's a cold day
# otherwise
#   it's neither hot or cold

temperature= 45

if temperature>30:
  print("It's a hot day")

elif temperature<10:
  print("It's a cold day")

else:
  print("It's neither hot or cold")

It's a hot day

*`Example:`*

In [ ]:
# if name is less than 3 characters long 
#   name must be at least 3 characters 
# otherwise if it's more than 50 characters long 
#   name can be a maximum of 50 characters 
# otherwise
#   name looks good!

name= 'Rose'

if len(name)<3:
  print('Name must be at least 3 characters')

elif len(name)>50:
  print('Name can be a maximum of 50 characters')

else:
  print('Name looks good!')

Name looks good!

***`Practice Exercise`***

In [ ]:
weight= int(input('Weight: '))
unit= str(input('(L)bs or (K)g: '))

#if the user enters l there won't be a result (case sensitive)
if unit.upper()== 'L':
   kilos=int(weight)*0.45359237
   print(f'You are {kilos} kg')

elif unit.upper()== 'K':
  pounds= int(weight)/0.45359237
  print(f'You are {pounds} lbs')

else:
  print('Invalid unit')

Weight: 130
(L)bs or (K)g: l
You are 58.9670081 kg

**17. While Loops**

In [ ]:
# while condition:
#   ...block of code

# As long as the condition is satisfied the block of code will be executed.

i=1
while i<=5:
  print('*'*i)
  i+=1

*
**
***
****
*****

*`Ex: Guessing Game- Guess the secret number within 3 attempts`*

In [ ]:
secret_no= 4
attempt_no= 1
attempt_limit= 3

while attempt_no<= attempt_limit:
  guess= int(input(f'Guess {attempt_no}: '))
  attempt_no+=1
  
  if guess== secret_no:
    print('You Won!')  
    break

#In Python, while loops can also have an else part
else:
    print('You Lose!')

Guess 1: 2
Guess 2: 4
You Won!

***`Practice Exercise`***

In [ ]:
# It works as follows if these commands are given

# help--> start- to start the car
#         stop- to stop the car
#         quit- to exit
# if another command is given--> I don't understand
# start--> Car started... Ready to go
# stop-->  Car stopped
# quit-->  Game stops

car_started= False

# The loop will run explicitly until it breaks
while True:
  command= input('Enter your command: ').lower()

  if command=='help':
    #multi line commands
    #the reason for the indent is the space between the start and the word start--> when typed between triple caughts
    print("""
    start- to start the car
    stop- to stop the car
    quit- to exit
    """)

  elif command=='start':
    if car_started==True:
      print('Car already started')
    else:
      car_started= True
      print('Car started... Ready to go')

  elif command=='stop':
    if not car_started:
      print('Car already stopped')
    else:
      car_started= False
      print('Car stopped')

  elif command == 'quit':
    break

  else:
    print("I don't understand")

Enter your command: help

    start- to start the car
    stop- to stop the car
    quit- to exit

Enter your command: start
Car started... Ready to go
Enter your command: start
Car already started
Enter your command: stop
Car stopped
Enter your command: stop
Car already stopped
Enter your command: quit

**18. For Loops**

In [ ]:
#Example 1
for item in 'Mirenda':
  print(item)

M
i
r
e
n
d
a

In [ ]:
#Example 2- Using a list
for item in ['Amanda','Izabel','Riannah']:
  print(item)

Amanda
Izabel
Riannah

In [ ]:
#Example 3- Range
for item in range(10):
  print(item+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Example 3- Range (from,to)
for item in range(5,10):
  print(item)

5
6
7
8
9

In [ ]:
#Example 3- Range (from,to,difference)
for item in range(5,10,2):
  print(item)

5
7
9

*`Example- Display total of the products baught from a super market`*

In [ ]:
prices= [10,20,30]
total=0

for price in prices:
  total+= price
print(f'Total: {total}')

Total: 60

**19. Nested Loops**

In [ ]:
#Getting quardinates of a graph
#print (0,0)
#      (0,1)
#      .....
#      (4,4)

for x in range(4):
  for y in range(3):
    print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

*`Example- Printing F letter`*

In [ ]:
counts= [5,2,5,2,2]

for count in counts:
  print('*'*count)

*****
**
*****
**
**

In [ ]:
#Letter L Using inner loops
x_counts= [1,1,1,1,6]

for x_count in x_counts:
  output= ''
  for count in range(x_count):
    output+= 'x'
  print(output)

x
x
x
x
xxxxxx

**20. Lists**

In [ ]:
names= ['Cherry','Strawberry','Mango','Orange','Apple','Avacado']
print(names[0])
print(names[-1])
print(names[1:4])
print(names[2:])
print(names[:3])

#modify list
names[3]='Plums'
print(names)

Cherry
Avacado
['Strawberry', 'Mango', 'Orange']
['Mango', 'Orange', 'Apple', 'Avacado']
['Cherry', 'Strawberry', 'Mango']
['Cherry', 'Strawberry', 'Mango', 'Plums', 'Apple', 'Avacado']

*`Example- Find the largest number in a list`*

In [ ]:
numbers= [3,5,7,2,5,9,0]
highest=numbers[0]

for number in numbers:
  if number> highest:
    highest= number
print(f'Highest number: {highest}')

Highest number: 9

**21. 2D Lists**

In [ ]:
#matrix representation
matrix= [
    [2,6,4],
    [6,1,0],
    [8,3,9]
]
print(matrix [2][1])

3

In [ ]:
#output the matrix
matrix= [
    [2,6,4],
    [6,1,0],
    [8,3,9]
]
for row in matrix:
  for item in row:
    print(item)

2
6
4
6
1
0
8
3
9

**22. List Methods**

In [ ]:
numbers= [2,5,7,9,1,3,4,2]
#copy of the original list
numbers_copy= numbers.copy()

#add to the end of the list
numbers.append(0)
print(numbers)

#insert a number to the list--> list.insert(index,value)
numbers.insert(2,8)
print(numbers)

#remove a number--> list.remove(value)
numbers.remove(7)
print(numbers)

#remove the last number--> list.pop()
numbers.pop()
print(numbers)

#check whether the item is present
print(numbers.index(9))
print(3 in numbers)

#count the number of occurances in the list
print(numbers.count(2))

#ascending order
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

#clear the list--> list.clear()
numbers.clear()
print(numbers)

print(numbers_copy)

[2, 5, 7, 9, 1, 3, 4, 2, 0]
[2, 5, 8, 7, 9, 1, 3, 4, 2, 0]
[2, 5, 8, 9, 1, 3, 4, 2, 0]
[2, 5, 8, 9, 1, 3, 4, 2]
3
True
2
[1, 2, 2, 3, 4, 5, 8, 9]
[9, 8, 5, 4, 3, 2, 2, 1]
[]
[2, 5, 7, 9, 1, 3, 4, 2]

*`example: Remove duplicates in a list`*

In [ ]:
numbers= [2,4,2,2,6,8,9,3]
unique_list= []

#when considering the element list, if the number doesnot include in unique_list, add it to the list
for number in numbers:
  if number not in unique_list:
    unique_list.append(number)
print(unique_list)

[2, 4, 6, 8, 9, 3]

**23. Tuples- Immutable (Can't add, remove-->only has count,index)**

In [ ]:
numbers= (1,5,6,3,8,4,0,9)

print(numbers[0])
print(numbers.append(2))

1

AttributeError: ignored

**24. Unpacking- Can be used for both lists and tuples**

In [ ]:
coordinates= (1,2,3)
# x= coordinates[0]
# y= coordinates[1]
# z= coordinates[2]

x,y,z= coordinates 
print(x)
print(y)
print(z)

1
2
3

**25. Dictioneries- Used when storing information that comes as key value pairs**

In [ ]:
# Customer has attributes
#   Name: Bella
#   age: 30
#   is_verified: True

#each attribute is written only once just like words in a dictionary
customer= {
    "name": "Bella Simons",
    "age": 30,
    "is_verified": True
}
print(customer["name"])
print(customer.get("name"))

#print(customer["date_of_birth"])--> create an error
print(customer.get("date_of_birth","1st July 2001"))

#updating
customer["name"]= "Isabella Simons"
print(customer.get("name"))

Bella Simons
Bella Simons
1st July 2001
Isabella Simons

*`Exercise- Find who is the batch top of the class`*

In [ ]:
markSheet= {'Name': ['A','B','C','D','E','F','G','H','I','J'], 'Mark': [75,95,88,28,35,48,54,56,71,99]}
#find the index of the highest mark

#seperate the mark list from the dictionary
marks= markSheet['Mark']
#suppose that the first student has the highest marks
highest_index= 0

#identify the highest marks from the list
for i in range(1,len(marks)):
  #when the loop is execued, if the marks is greater than the 1st element, the highest index is asigned with the new index
  if marks[highest_index]<marks[i]:
    highest_index=i

# Find the corresponding name
print('The top of the class is: ', markSheet['Name'][highest_index])

The top of the class is:  J

range(start, stop, step)

In [ ]:
#Ex:sequence of numbers from 3 to 19, but increment by 2 instead of 1:

x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
#find the top three positions in the class
markSheet= {'Name': ['A','B','C','D','E','F','G','H','I','J'], 'Mark': [75,95,88,28,35,48,54,56,71,99]}

#seperate the lists and make them in order
#[Max,......]
#[Max, 2ndMax,......]
#[Max, 2ndMax, 3rdMax,......]
#so we need to run this loop three times

marks= markSheet['Mark']
names= markSheet['Name']

for i in range(0,3): #last digit is not considered in range function (0,1,2,3)
  for j in range(len(marks)-1,i,-1): #len(marks) is already the minimum mark when len(marks)-1is sorted.
    if marks[j]>marks[j-1]:
      temp1= marks[j]
      marks[j]= marks[j-1]
      marks[j-1]= temp1
      temp2= names[j]
      names[j]= names[j-1]
      names[j-1]= temp2
print('First, Second and Third are: ', names[0:3])

First, Second and Third are:  ['J', 'B', 'C']

In [ ]:
markSheet= {'Name': ['A','B','C','D','E','F','G','H','I','J'], 'Mark_Maths': [75,95,88,28,35,48,54,56,71,99], 'Mark_Science': [75,76,89,56,48,71,65,100,92,65], 'Mark_English': [100,78,69,98,87,74,54,78,85,99]}
#find the average, round it to the nearest decimal point and append it as a column to the dictionary (markSheet)

maths= markSheet['Mark_Maths']
science= markSheet['Mark_Science']
english= markSheet['Mark_English']

avgMarks= []

#append the average to the empty list
for i in range(0,len(maths)):
  average= round((maths[i]+science[i]+english[i])/3,0)
  avgMarks.append(average)

#adding the markSheet dictionary
markSheet['Average']=avgMarks
print(markSheet)

{'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], 'Mark_Maths': [75, 95, 88, 28, 35, 48, 54, 56, 71, 99], 'Mark_Science': [75, 76, 89, 56, 48, 71, 65, 100, 92, 65], 'Mark_English': [100, 78, 69, 98, 87, 74, 54, 78, 85, 99], 'Average': [83.0, 83.0, 82.0, 61.0, 57.0, 64.0, 58.0, 78.0, 83.0, 88.0]}

*`Fibonacci Series`*

In [3]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 3
Fibonacci sequence:
0
1
1